.Partner{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #1c3988;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.Partnerdiv1 {
    margin: 1rem;
}
.Partnerdiv1 h1{
    color: white;
    margin: 1rem;
}
.Partnerdiv2{
    margin: 1rem;
}
.Partnerdiv2 img{
    /* color: white; */
    margin: 1rem;
}