@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


.headerBody{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
    height: 6rem;
    font-family: 'Source Sans Pro', sans-serif; 
    border: 1px solid green;   

}
.headerimageDiv{
    /* border: 2px solid green; */
    display: inline-block;
    margin:auto;
}
.headeroptionsDiv{
    /* border: 2px solid red; */
    display: inline-block;
    margin:auto;    
    width: 28rem;
}
.headeroptionsDiv a{
    color: black;
    margin:1rem;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .headerBody{
        min-width: 100%;
    }
  }