.Body2subBox2{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.Body2subBox2div1{
    margin:2rem;
    max-width: 40vw;
    min-width: 40vw;
    /* height: 60vh; */
    
}
.Body2subBox2div1 img{
    /* height: inherit;
    
    max-width: inherit;
    min-width: inherit; */
    width: 40vw;
    
}
.Body2subBox2div1button{
    margin-top: 2rem;
}
.Body2subBox2div2{
    margin:2rem;
    width: 40vw;
    /* height: 60vh; */
}
.Body2subBox2div2 h1{
    color:black ;
}
.Body2subBox2div2 h1 span{
    color:black
    /* height: 60vh; */
}